[2016-10-04 13:57] cwoloszynski opened #1 "Including this causes errors with vapor fetch, pointing to crypto.git"
I just added this to my Package.swift and did a vapor clean; vapor fetch and got the following.

[code]

Any thoughts on how to resolve this?

[2016-10-04 15:26] a2 opened #4 "EC key specification"
Maybe a cursory look at the code wasn't enough, but where do I plug in my private EC key for signing the message?

[2016-10-04 19:27] siemensikkema commented on #1
This is fixed is 0.1.1. Just be sure to clean first.

[2016-10-04 19:27] #1 closed

[2016-10-04 19:31] siemensikkema commented on #4
Here's an example:
[code]
I will update the docs to make this clearer!

[2016-10-04 19:32] a2 commented on #4
That uses an HMAC-based signature. I'm talking about ES256, for example.

Sent from my iPhone

[2016-10-04 19:36] siemensikkema commented on #4
I just realized my error and saw that you beat me to it ;) simply change '.hs' to '.es' and you're using ES256!

[2016-10-04 19:45] siemensikkema commented on #4
I have updated the README to include a table with the available options

[2016-10-14 11:38] #4 closed

[2016-10-30 18:55] alexaubry opened #8 "Extraneous padding added by BytesTranscoder causes JWT decoding to fail"
When decoding a JWT from a string,  I get this error :

[code]

The JWT was `eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.(...).(...)`.

This only happens when a Base64URL-encoded segment has `n` characters, where `n % 4 = 0`.

After investigating the issue, I've noticed that `BytesTranscoder` adds a 4 characters-long padding in such cases when converting to Base64 (for example, `"abcd"` becomes `"abcd===

[2016-10-31 12:46] #8 closed

[2016-12-02 15:33] alexbredy opened #10 "Working example with ES256"
Hi Siemen, very nice library.
Do you have by any chance a working example with a ES256 signing?
I tried reproducing your steps below with secp521r1 in the keys generation and built the JWT with the private one and verified the signature with the public key. Unfortunately I get a `(VaporJWT.JWTError error 1.)`

This is my implementation:

        guard let privateKey = drop.config["keys","jwtPrivat

[2016-12-18 08:54] BrettRToomey commented on #10
The README says: `The ECDSA and RSA (ES*/RS*) signers on the other hand take a **private key** for signing and a matching **public key** for verifying.`

It looks like you have your order backward. You're signing with a public key and verifying with the private.

[2016-12-18 12:56] alexbredy commented on #10
Thanks @BrettRToomey  for your answer. You are right. I've actually tried it both ways just to check if the docs weren't correct. I created new keys (see below) but still can't get it to work (error 1).

This is the secrets config in Vapor:
[code]
The tokens were generated as followed:
`openssl ecparam -name prime256v1 -genkey -out private.pem`

`openssl ec -in private.pem -outform der -out privat

[2016-12-22 20:25] JustinM1 opened #11 "build failing on heroku"
remote: Linking ./.build/release/App
remote: /tmp/build_9e6662da1ad3a4a4089c8520505ca138/.build/release/App.build/Droplet+Setup.swift.o:/tmp/build_9e6662da1ad3a4a4089c8520505ca138/.build/release/App.build/Misc/String+E164Format.swift.o:function _::_TTSf4g_n_n___TFC3App14AuthMiddleware7respondfzT2toC4HTTP7Request10chainingToPS1_9Responder(Response) static const: error: undefined reference to '_TFE8

[2016-12-27 16:28] siemensikkema commented on #11
@JustinM1 sorry about the late reply! This is an issue that seems to keep coming up but it should be fixed in 0.6.1. Can you confirm your app or a dependent is not depending on an earlier version?

[2016-12-27 17:30] JustinM1 commented on #11
@siemensikkema no prob. I know how it can be, especially around this time of year. Unfortunately, I think there is still an issue.
<img width="456" alt="vapor-jwt_version" src="https://cloud.githubusercontent.com/assets/18277828/21504590/3b5ae8a8-cc2e-11e6-9606-2e2a22cc2986.png">
<img width="822" alt="heroku_builderror" src="https://cloud.githubusercontent.com/assets/18277828/21504598/4f9f7b4e-cc2

[2016-12-29 11:42] siemensikkema commented on #11
Is this on a custom server? How are you building? Can you replicate this on your own machine? I see you're running swift 3.0.1, I doubt upgrading to 3.0.2 will help but it's worth a try.

[2016-12-29 12:16] siemensikkema commented on #10
Hi @alexbredy! My apologies for taking so long.

I figured out what was going wrong. @BrettRToomey was right, you sign with a private key and check with a public key. However, there is one more thing you need to pay attention to, how to initialize the Signer. The keys you created are encoded in base64 and therefore you need to use a different initializer:

[code]

If your key is encoded in a diffe

[2016-12-29 14:53] #11 closed

[2016-12-29 17:21] siemensikkema commented on #10
It turned out the docs contained invalid instructions. I've updated them. Thanks @alexbredy!

[2016-12-29 17:21] #10 closed

[2016-12-30 01:48] HotWordland opened #13 "In Ubuntu 14.04.2 run Error"
I used vapor-jwt run heroku have no problem. but I used in Ubuntu 14.04.2 run error.
information:
execute this line.
`
        let jwt = try JWT(payload: Node(ExpirationTimeClaim(Date() + 60)),
                          signer: HS256(key: "secret"))
`

*** Error in `.build/debug/App': free(): invalid next size (fast): 0x00007f3544013fe0 ***

[2017-01-05 13:48] siemensikkema commented on #13
@HotWordland I don't have access to Ubuntu currently. Could you please try the following to see if it is specific to HMAC signers?
[code]
and
[code]
Thanks!

[2017-01-30 18:18] Dedy54 opened #14 "Token validate is always return True"
HI man, i just newbie from swift and web service, would you tell me why i am always got true on token validate, this is my code

let jwt = try JWT(payload: Node(ExpirationTimeClaim(Date() + 1)),signer: HS256(key: "secret"))
return try JSON(node: [ "error_code" : "0", "token" : jwt.createToken(), "valid" : "60 second"])

and then i call isValidate like you did :

let jwt3 = try JWT(token: token)
le

[2017-01-31 07:52] siemensikkema commented on #14
Hi @Dedy54. I noticed that before you edited your code you had different keys. Your question seems to imply that even with different keys you got a positive result on the signature verification. In the current version of your code you use the same key so a positive result is expected, no?

There is some extra stuff in your example code not related to the verification of signatures. If I boil it do

[2017-01-31 15:02] Dedy54 commented on #14
hi @siemensikkema thanks for your answer man, i see, on this case i just did encryption and decryption . and then how about it. On my code i added this parameter

`payload: Node(ExpirationTimeClaim(Date() + 1)`

its means token will active just for 1 minutes right? or not? but when i try after 1 minutes, this token still active,, its mean true. i did with this code.

`let isValid = try jwt2.verify

[2017-01-31 15:51] dmcyk opened #15 "Missing license"
Hi,
Do you have any plans for introducing specific license to this project?
I'd like to use a part of this library in my open source project if possible, though lack of license makes it a bit unclear if I can do so, especially that I don't really want to depend on the whole package, only on the ecliptic curve algorithm implementation.

[2017-01-31 19:55] siemensikkema commented on #15
Thanks for pointing that out. I thought I included a license from the beginning. I just added the MIT license (#16), mostly because it's what Vapor itself uses. Does that suit your need?

[2017-01-31 20:05] siemensikkema commented on #14
Check out the [`Basic usage`](https://github.com/siemensikkema/vapor-jwt/blob/master/Playground/VaporJWT.playground/Pages/Basic%20usage.xcplaygroundpage/Contents.swift) playground for an explanation.

It comes down to this:
- you should add `60` for a minute
- there's a separate method `verifyClaims`; signature and claims can be verified separately.

[2017-01-31 20:08] dmcyk commented on #15
Sure it does, thanks!

[2017-01-31 20:08] #15 closed

[2017-02-08 15:55] tannernelson commented on #13
This seems like an issue with https://github.com/vapor/clibressl.

[2017-02-08 15:56] siemensikkema commented on #14
@Dedy54 I believe this issue is resolved. If there's still something unclear/not working, feel free to open it again.

[2017-02-08 15:56] #14 closed

[2017-02-08 20:30] tannernelson opened #19 "RSA public/private key"
Unless I'm mistaken, the RSA signers should have a separate public and private key. The private key is used for signing and the public key is used for verifying the signature.

Right now you can only add one key that is used for both.

[2017-02-08 23:18] vzsg commented on #19
I'd like to add two remarks, if you don't mind:

1. The current behavior is not uncommon, for example the https://github.com/auth0/java-jwt library requires the developer to make a second instance of their JWT class, using the public key. I'm not implying that this cannot or should not be improved.

1. And this is where real fun begins: an RSA private key implicitly contains the public key too. Th

[2017-02-09 09:44] tannernelson commented on #19
Ah, being able to use `d2i_RSAPrivateKey` in the verify function is the key. Awesome.

If it's that easy to use the private key for verification then we should definitely avoid asking the user to input both keys. That's another user input step which I'm happy to avoid.

I'm thinking the best solution here is to have the RSA signers take a Key enum:

[code]

In an attempt to create a JWT with a `Ke

[2017-02-09 10:29] vzsg commented on #19
I think introducing a public enum is not even necessary. The RSASigner could try to parse the raw bytes in both formats and see which function returns success, throwing an error only in sign mode with a public key, or if neither decoding worked.
Everything else should Just Work transparently.

(Also, if RSASigner was a class instead of a protocol, it would be possible to decode the key only once i

[2017-02-09 11:26] tannernelson commented on #19
+1 to the idea of parsing the key once and holding onto that.

However, I like the clarity around providing either a public or private key at the configuration level. If someone reading the code see's `Key.private` it's clear this is something sensitive.
I do like the idea of "just working", though.

I'll throw together a PR for this and see if there are any underwater rocks with either option tha

[2017-02-10 13:25] #19 closed

[2017-02-12 12:45] siemensikkema opened #22 "Logo for README"
![jwt logo](https://cloud.githubusercontent.com/assets/1049951/22862150/fce4ecbe-f120-11e6-84c6-7a0282f3d015.png)

[2017-02-12 12:48] #22 closed

[2017-02-14 14:23] HotWordland commented on #13
@siemensikkema Thanks.
I fix this problem in Ubuntu 14.04.2 with line:
[code]

[2017-02-14 15:36] vzsg commented on #13
Don't do that for the real application! Using unsigned tokens is an enormous security hole, but it was necessary to see where the error is coming from.

[2017-02-14 23:13] vzsg commented on #13
I tried to reproduce the issue using Docker. All the images I found were built on Ubuntu 14.04.5 LTS, so I picked `vapor/vapor:1.0-trusty`, set up the test project, and... it doesn't show these symptoms, signing with HS256 works cleanly.

Which brings me to some questions:
- What is the output of `uname -a`?
- What is the output of `swift -version` and how did you install it?
- What is the current

[2017-02-15 11:34] HotWordland commented on #13
@vzsg thanks. I am trying to figure out this problem

[2017-02-15 11:44] Dedy54 commented on #14
thanks @siemensikkema

[2017-02-20 16:33] tanner0101 opened #27 "nicer RSA failure errors"
RSA signing can fail if the key is not large enough (for instance 256 or 512). The return code of the `RSA_sign` method should be checked and a more helpful error should be thrown.

[2017-02-21 06:48] hyouuu opened #28 "Dependency graph could not be satisfied"
When i add the new vapor/jwt package:
`.Package(url:"https://github.com/vapor/jwt.git", majorVersion: 0)`
to my Package.swift, `vapor xcode` gives error:
`swift-package: error: The dependency graph could not be satisfied (https://github.com/vapor/crypto.git)`
Thoughts?

[2017-02-21 06:50] hyouuu commented on #28
Ah I see - jwt 0.9+ uses Vapor 2. nvm

[2017-02-21 06:50] #28 closed

[2017-02-21 16:52] tanner0101 opened #29 "build release failure"
This is causing some symbol reference failures when building on Linux in release mode

https://github.com/vapor/jwt/blob/master/Sources/JWT/Claims/TimeBasedClaim.swift#L13

[code]

[2017-02-21 17:56] LoganWright commented on #29
@tanner0101 sometimes these dumb compiler bugs can be worked around by just changing stuff up, does it happen w/o the default arg? What about something like `= { Date($0) }` or some other variant of the default?

Maybe we'll get lucky, I think relying on this getting fixed for 3.1 is a bit of a dream so we should try to get around it if we can

[2017-02-21 22:34] tanner0101 commented on #29
I worked around for now by using a different init method on the TimeBasedClaim.

[2017-02-28 10:58] siemensikkema commented on #29
@tanner0101 is this only on Linux? Does it always happen when building the framework or only when there is code that references the initializer in question?

[2017-03-03 23:13] tanner0101 commented on #29
@siemensikkema only on linux. it's hard to pin down exactly what causes it... the line linked is fairly complex. It's got `@escaping` closure, default arg, and a Foundation class method. >_<

If i hit it again i will do more debugging.

[2017-03-08 02:53] ncvitak opened #30 "Token Verification Can Generate Incorrect Message"
Currently when verifying a token the message is rebuilt from the header and payload nodes via createMessage(). This only produces the correct message when the original JSON is ordered and minified in the exact same way, otherwise a malformed message is produced and verification will fail.

**Example** (https://jwt.io)

Source Header:
[code]
Source Payload:
[code]

Source Header Minified:
[code]

S

[2017-03-08 14:26] tanner0101 commented on #30
Does the JWT spec require the payload key order be maintained?

[2017-03-08 15:40] ncvitak commented on #30
If you modify the key order, have you not modified the JSON, and thus the token you are attempting to verify?

My point is that this fails the basic example at https://jwt.io, and also fails when verifying [Firebase](https://firebase.google.com) tokens for the same reason.

One way to fix this would be to privately store the original message bytes from the decoded token in the JWT struct. This wou

[2017-03-08 19:39] vzsg commented on #30
Let me help clarify the issue.

The following test case explodes with signature verification error:

[code]

And the **reason** behind the failure (as correctly deduced by @ncvitak) is that the library is not validating the token string, but a fake, recomputed version inside the JWT class.

[2017-03-09 14:59] tanner0101 commented on #30
Aha, I see. The signature is created from the bytes `{"a":"a", "b":"b"}` to technically `{"b":"b", "a":"a"}` is not valid against the signature.

Possibly a fix could be validating the tokens within the `try JWT(token: ` init method. That way we still have access to the original message.

We could change it to `try JWT(validatingToken: xxx)` to be explicit.

[2017-03-09 17:03] ncvitak commented on #30
Better to validate afterwards because some tokens, such as those from Firebase have a "kid" in the header that you use select the correct key for validation

[2017-03-09 17:07] vzsg commented on #30
^ this. In such cases, the Signer cannot be created before parsing the JWT once. It would be better to store the JWT string directly (as `rawToken` for example), and perform signature tests and compute other properties from this.

[2017-03-09 19:12] tanner0101 commented on #30
Fix is ready to go here: https://github.com/vapor/jwt/pull/32

[2017-03-09 19:14] tanner0101 opened #33 "Remove encodings"
Seems that JWTs should always be base 64 url encoded as per the RFC:

[code]

Perhaps we should remove the `encoding` types to reduce the possibility of errors (as can happen when trying to parse tokens from JWT.io without explicitly specifying the base64urlencoding)

[2017-03-19 14:03] Alex293 opened #34 "Compile error CTLS module"
Hi, I can't build a newly downloaded version of master on my mac :

.../jwt-master-2/Packages/CTLS-0.1.1/shim.h:4:10: 'openssl/conf.h' file not found
.../jwt-master-2/Packages/Crypto-2.0.0-alpha.4/Sources/Crypto/Cipher/Cipher+Method.swift:1:8: Could not build Objective-C module 'CTLS'

NB : I did got it working couple weeks ago !

[2017-03-19 14:05] Alex293 opened #35 "Proper way to get userId from token"
Hi, what would be the prefered way to retrieve the userId from the token? I don't want to validate a userId claim against a known Id but extract the id from the token.

[2017-03-19 14:19] tanner0101 commented on #34
The following script will help you configure OpenSSL:

[code]

[2017-03-19 14:24] Alex293 commented on #34
eval "$(curl -sL openssl.vapor.sh)"
give me Swift 3.1 is required.

but
curl -sL check.vapor.sh | bash

tel me it's ok. Hw can I upgrade my tool chain ? Xcode is up to date

[2017-03-19 14:33] vzsg commented on #35
The JWT class exposes the `payload` field, you can extract any claim with that. For example, if you store the user ID under the key `uid`, `token.payload["uid"]?.string` should give you the value.

[2017-03-19 14:34] tanner0101 commented on #34
This package uses Vapor 2. That script is for Vapor 1.

[code]

You'll need to either:
- Download [Xcode 8 Beta](https://developer.apple.com/download/)
- Download [Swift 3.1 development toolchain](https://swift.org/download/#snapshots)

[2017-03-19 14:38] Alex293 commented on #34
Thanks you for your answer gonna try to update those and try agin

[2017-03-19 14:43] Alex293 commented on #35
Thanks gonna give it a try soon !

[2017-03-19 14:46] tanner0101 commented on #34
You may also need to add this to your bash profile:

[code]

That will make the terminal use the latest version of Swift on your computer. You can test to see if it's using Swift 3.1 with `swift --version`

[2017-03-19 14:54] vzsg commented on #34
Or as an alternative, you could stick with the 0.8 version of the library if you don't want to make the jump to Vapor 2's alpha.

[2017-03-19 15:02] Alex293 commented on #34
After export TOOLCHAINS=swift, swift --version still give me 3.0.2. I'm upgrading so I can move to Vapor 2 as I was experiencing some compatibility issue with some providers. Is jwt-provider ready for Vapor 2 ?

I'm building a bearer auth system based on jwt.

[2017-03-19 16:23] Alex293 commented on #34
I've installed Xcode 8.3 beta 4, selected the beta with Xcode-select. Both scripts seems to perform ok :
eval "$(curl -sL openssl.vapor.sh)"
✅  Compatible with Vapor 2
✅  OpenSSL available
 eval "$(curl -sL check2.vapor.sh)"
✅  Compatible with Vapor 2

swift --version
Apple Swift version 3.1 (swiftlang-802.0.42.1 clang-802.0.36)
Target: x86_64-apple-macosx10.9

So everything should work but I stil

[2017-03-19 16:28] Alex293 commented on #34
Tried to clone again the project as I may have broken something but same result

[2017-03-20 09:17] tanner0101 commented on #34
@Alex293 did you restart your terminal and re-generate the Xcode project? If you're using an old Xcode project, it won't have the correct linker flags.

Do this:

[code]

That way you can be sure the environment variables are correct in your current terminal session then regenerate the Xcode project with everything properly linked.

[2017-03-20 12:46] Alex293 commented on #34
I've restarted my computer, downloaded a fresh version of the repo, got all the scripts to say it's ok but it's always stuck at compile time.

[2017-03-20 13:42] tanner0101 commented on #34
Can you paste me the output of the following two commands on your computer:

[code]

Additionally, is it the same error `Could not build Objective-C module 'CTLS'` from above or a different one?

[2017-03-22 14:31] vzsg commented on #30
The issue was resolved by that fix, released as 0.11.1 and 0.8.1, so I'm closing the issue.

[2017-03-22 14:31] #30 closed

[2017-03-23 05:45] bibscy commented on #28
@hyouuu  How did you fix your issue? What "nvm" stands for? My Package.swift looks like this and I get Error: swift-package: error: The dependency graph could not be satisfied (https://github.com/vapor/crypto.git)

import PackageDescription

let package = Package(
    name: "StripePayment",
    dependencies: [
        .Package(url: "https://github.com/vapor/vapor.git", majorVersion: 1, minor: 1),

[2017-03-23 05:52] hyouuu commented on #28
nvm stands for nevermind. I ended up adding a minor: 8 to jwt, because 0.9 up uses Vapor 2

[2017-03-23 06:15] bibscy commented on #28
I am trying to push my code to heroku, but I get these errors, do you know how I can fix? Thanks

Bogdans-Air:StripePayment bogdanbarbulescu$ vapor heroku init
Error: Git already has a heroku remote.
Bogdans-Air:StripePayment bogdanbarbulescu$ vapor help
Usage: vapor <new|build|run|fetch|clean|test|xcode|version|self|heroku|docker>
Error: Command "help" not found.
Bogdans-Air:StripePayment bogdanb

[2017-03-29 19:51] ryan-luas commented on #34
@Alex293 https://github.com/kylef/swiftenv is a great tool for managing your swift version & tool chain. Often you can set the tool chain in Xcode preferences, however that doesn't switch the one used in your shell environment... so that's a great tool to view and switch quickly.

[2017-03-29 20:24] Alex293 commented on #34
Did the had time to test but avec the last Xcode it should ok I think

[2017-03-30 10:42] DisconnectedPravin opened #40 "How to install using Pod"
Hi,
How to install using Pod?

Thanks,
Pravin

[2017-03-30 11:04] tanner0101 commented on #40
For iOS? This package is meant for server side Swift and will probably not work on iOS since it needs to link against OpenSSL.

[2017-03-30 14:10] DisconnectedPravin commented on #40
Thank you, I am looking for iOS app to generate the JWT token using RS256.

[2017-04-02 18:50] hhanesand commented on #40
@DisconnectedPravin We can't help you here, you're going to have to take a look at some other swift signing frameworks.

[2017-04-03 16:58] #40 closed

[2017-04-03 20:34] mjmsmith opened #41 "Crash in base64 encoder for Swift 3.1 release builds."
App crashes in Base64URLTranscoder.base64URLEncode() for release builds only, works fine in Xcode. Crash log attached.

    OS X version: 10.12.4
    Xcode version: 8.3
    Swift version: Apple Swift version 3.1 (swiftlang-802.0.48 clang-802.0.38)

Packages.swift:

    .Package(url: "https://github.com/qutheory/vapor.git", majorVersion: 1),
    .Package(url: "https://github.com/vapor/jwt.git", maj

[2017-04-04 08:42] tanner0101 commented on #41
Thanks for the detailed report. I think moving to vapor/core's base64 encoding will fix this.

If you have time, submitting [this bug to the Swift team](http://bugs.swift.org) as well would be greatly appreciated

[2017-04-04 08:53] tanner0101 commented on #41
Just looked at this issue. It would be quite an endeavor to fix for Vapor 1. We built our own base64url encoder into Vapor 2 to avoid using Foundation.

As a workaround, I'd try using the non-url Base64Encoder (which uses vapor/core and should work great) and then manually find and replace the `+` and `/` to `-` and `_`

[2017-04-05 14:26] hhanesand opened #42 "Allow `IssuedAtClaim` to compare dates"
I'm using Firebase to manage my users, and I use this library to validate `JWT` tokens sent by Firebase. [In their documentation](https://firebase.google.com/docs/auth/admin/verify-id-tokens#verify_id_tokens_using_a_third-party_jwt_library), they state that I must validate that the `Issued-at time` is in the past. I don't think I can do this with the current implementation, as `IssuedAtClaim` forc

[2017-04-06 13:37] siemensikkema commented on #42
I had a look at the [jwt spec](https://tools.ietf.org/html/rfc7519) and in section 4.1.6. it does not say anything about how to verify these claims. I now see the implementation I chose does not fit all needs :(
The good news is that you don't have to use the provided claims. What you need is the opposite of NotBeforeClaim so you could copy and adjust the `verify` function and the static `name` va

[2017-04-07 00:18] hhanesand commented on #42
Ah, ok. Thanks for the response.

Also, thank you for the work you did here! This allowed me to remove a janky Swift + Ruby system I had set in place :)

[2017-04-07 00:18] #42 closed

[2017-04-07 13:14] vzsg commented on #41
I'm afraid it's not that simple. Base64URLEncoder already does this in 1.0.0: it takes the Base64 encoded string from Core, replaces the characters and trims the padding.

Core 1.1.1 however uses Foundation for Base64 encoding...

[2017-04-07 21:02] vzsg commented on #41
Fixed in release 1.0.1.

[2017-04-07 21:02] #41 closed

[2017-04-07 22:47] mjmsmith commented on #41
Looks good, no crash here. Thanks!

[2017-04-16 05:54] hhanesand opened #46 "Certificate based RSA public key creation."
Would be nice to have a way to create a key from a certificate containing a public key. Its not easily doable as of now because the initializes of the `RSxxx` classes require `Bytes` input. The following code is possible with #45

[code]

[2017-04-16 08:14] vzsg commented on #46
The topic of making the C classes public came up previously, and I voted for *not* exposing them, because:
1. The fact that the library uses Libre/OpenSSL is an implementation detail, which might change in the future. Having a clean, Swift-only public interface helps the future maintainers and users keep their sanity.
1. The low-level C interface is a risky business. In your example code above, yo

[2017-04-16 17:45] hhanesand commented on #46
Hmm, true. As you point out, its very hard for someone (like me) with no C background to properly code in C.

[2017-04-16 21:29] sidmani opened #47 "Creating RS256 signer from base64-encoded key"
I can't seem to get the library to create a JWT using the RS256 signer. I have some key that looks like this:
`-----BEGIN PRIVATE KEY-----\nMIIEvA......a5efqA==\n-----END PRIVATE KEY-----\n`
First, I removed the beginning and ending tags, and the \n's, so I have just the base64-key: `MIIEvA...a5efqA==`
as a string. I then used the `.bytes` method (that was used in the playground example) to conver

[2017-04-16 21:45] vzsg commented on #47
In the playground example, the HS256 algorithm was used where pretty much any byte array can be used as the secret.

In RSA however, you need to provide the key data correctly. In this case, since the key is not automatically Base64-decoded, you should use `key.bytes.base64Decoded` instead of ~`key.bytes`~.

[2017-04-16 22:58] sidmani commented on #47
Yep, that fixed it. Thanks.

[2017-04-16 22:58] #47 closed

[2017-04-28 15:19] malomartin opened #48 "Add the ability to install using Cocoapods"
Since we are still using cocoapods in our older project it would be great to have a pods to install your library

[2017-05-01 17:10] jupl commented on #48
It would also be nice to install with Carthage.

[2017-05-03 14:09] BrettRToomey commented on #13
Closed due to inactivity. Please feel free to reopen.

[2017-05-03 14:09] #13 closed

[2017-05-03 14:10] BrettRToomey commented on #34
Closing due to inactivity. Please feel free to reopen.

[2017-05-03 14:10] #34 closed

[2017-05-03 14:10] BrettRToomey commented on #35
Closing due to inactivity. Please feel free to reopen.

[2017-05-03 14:10] #35 closed

[2017-05-04 14:36] tanner0101 commented on #48
This packages relies on vapor/crypto which relies on OpenSSL which is not compatible w/ iOS. This will need to be re-evaluated when https://swift.org/server-apis/ are available.

[2017-05-04 14:36] #48 closed

[2017-05-18 18:53] #33 closed

[2017-05-19 14:09] tanner0101 commented on #29
Closing this since I have yet to see it again since. Let's hope it was a Swift issue that's been fixed.

[2017-05-19 14:09] #29 closed

[2017-05-19 14:10] #46 closed

[2017-05-19 15:07] #27 closed

[2017-05-20 16:14] JustinM1 opened #51 "createClaimsfT6userIdSS_GSaP3JWT5Claim__: error: undefined reference to '_TIFE3JWTPS_13SecondsBackedcFT4dateV10Foundation4Date_xA_'"
Running linux on heroku get this build error, runs fine on mac.

createClaimsfT6userIdSS_GSaP3JWT5Claim__: error: undefined reference to '_TFE3JWTPS_13SecondsBackedCfT4dateV10Foundation4Date_x'

[2017-05-20 16:22] vzsg commented on #51
What version of the library are you using?

[2017-05-20 19:12] JustinM1 commented on #51
na its 2.0.1

`I have it set to majorVersion: 2`

without settings a minor version.

also, swift version 3.1.1

[2017-05-20 19:49] JustinM1 commented on #51
TimeBasedClaim protocol being set to public should probably fix it. I'll give that a try

[2017-05-22 16:12] siemensikkema commented on #51
@JustinM1 any updates? The error seems to refer to `SecondsBacked.init(date:)` in `NodeFailableInitializable.swift`. That initializer itself is public but SecondsBacked is not. I'd prefer to keep that internal. I seem to recall a similar situation that only failed on Linux because of the default parameter in that init function.

[2017-05-22 16:24] siemensikkema opened #53 "Playgrounds failing"
Playground execution is failing with the following message:
`Playground execution failed: error: missing required module 'CTLS'`

I get the same error in an unrelated project but with `CSQLite`, another C based module mapped to swift. It seems these kind of modules don't work well with playgrounds anymore. Does anyone know a solution?

[2017-05-22 19:49] mjmsmith commented on #51
I get the same error with JWT 2.0.1 on OS X, but only when building in Release mode from the command line. Builds ok in Debug mode inside Xcode 8.3.2.

[2017-05-22 20:41] siemensikkema commented on #51
@mjmsmith and @JustinM1 I can confirm the error. Making `TimeBasedClaim` public does seem to work but that also requires `NodeFailableInitializable` and `SecondsBacked` to be public. I thought we had solved this ... 😢

[2017-05-22 23:15] JustinM1 commented on #51
@siemensikkema sorry for delay. I added a pull request with a building version. As you mention, it forces making other things public as well.

[2017-05-24 09:18] siemensikkema commented on #53
There is a hack to get this to work. It involves copying the module

1. cd to Xcode's MacOSX SDK path:
[code]

2. create the framework directory
[code]

3. copy the required files
[code]

4. rename module map
[code]

[2017-05-24 20:50] mjmsmith commented on #51
Building fine for me now on OS X with PR #56 changes.

[2017-05-25 13:41] #51 closed

[2017-05-25 13:41] #53 closed

[2017-05-28 23:05] hhanesand opened #58 "error: undefined reference to '_TFE3JWTPS_9RSASignerCfzT8x509CertGSaVs5UInt8(long long)'"
I'm getting a linking error on linux complaining about the new x509 method.

[code]

Vapor 2.0.3
JWT 2.1.0

[2017-06-05 15:09] ryanmjt commented on #34
I am running into this issue now. I have the latest Xcode installed (8.3.2) along with CLI tools and vapor (2.0.3) installed from homebrew tap. `swift --version` says 3.1.

The only thing "special" about my setup is that homebrew is installed to a non-standard location (i.e. not `/usr/local`).

[2017-06-05 15:51] #58 closed

[2017-06-06 02:55] BugsBunnyBR opened #60 "Shouldn't StringBacked be public ?"
Would it be useful to have StringBacked as a public Protocol, so a custom claim can be StringBacked?

[2017-06-06 10:24] siemensikkema commented on #60
I left StringBacked internal in the recent PR #59 because it did not expose any public extensions. I see your point about creating custom StringBacked claims though. We'd like to rethink the API for the next major release because exposing too many internals as public makes it hard to make changes.

[2017-06-13 02:19] gaughyean commented on #47
In my case (ES256),
`let url = URL.init(fileURLWithPath: "/Users/aamac/Desktop/HelloWorld/AuthKey_demoKey.p8")`
`let data = try Data.init(contentsOf: url)`
I try `let signer = ES256.init(key: data.makeBytes().base64Decoded)` and `let signer = ES256.init(key: data.makeBytes())` , but it didn't work. The token I create still don't work.. I got a http status code 500 from the response...
What's wrong

[2017-06-13 06:51] siemensikkema commented on #47
I think the problem is that the p8 file format is not directly supported (yet). However, you are able to create a token, right? That surprises me a bit.
I discovered that the documentation for JWT is not working. It was removed from the README here: https://github.com/vapor/jwt/commit/3932ea444ceebceb5bba5ade8700dbbe16555410#diff-04c6e90faac2675aa89e2176d2eec7d8
There is a section on creating ESCD

[2017-06-14 00:39] florentmorin opened #63 "Xcode projects (iOS, watchOS, tvOS, macOS) support"
Hello,

Did you plan to support Xcode projects using Cocoapods or Carthage?
If necessary, I can contribute.

Thanks!

[2017-06-14 02:31] gaughyean commented on #47
@siemensikkema I try to do this in the terminal:
AAMacdeMac-mini:Desktop aamac$ openssl ecparam -name prime256v1 -genkey | openssl ec -in /Users/aamac/Desktop/HelloWorld/demoKey.p8 -noout -text
read EC key
Private-Key: (256 bit)
priv:
    53:6d:3c:28:28:3f:76:8a:a2:4b:3b:15:17:9b:24:
    9d:5b:58:4a:0b:7c:ff:7a:22:60:66:ef:af:22:11:
    af:34
pub:
    04:1f:ae:f0:d6:8b:31:27:58:0c:c1:d8:7c:76:af:

[2017-06-14 13:08] siemensikkema commented on #47
Hmm, there must be some other difference then. Are the headers and payload exactly the same as the token you're creating with the Python library?

[2017-06-14 13:36] siemensikkema commented on #63
Unfortunately this will not be possible for the time being, see #40 and #48. I wonder if things would change if we were to switch to LibreSSL (if this is even possible) since that is support by iOS and macOS 10.13. This in turn might conflict with the planned move to the Server APIs project.

I also see a few other problems:
- Carthage depends on an Xcode project. This conflicts with SPM.
- all th

[2017-06-14 13:36] #63 closed

[2017-06-15 02:08] gaughyean commented on #47
thanks~

[2017-06-15 08:08] #60 closed

[2017-06-15 13:13] LoganWright opened #65 "Headers causing issues"
Here's repro code from user, this will not work, if you remove headers, it will. This can be used to create a repro case and fix:

[code]

[2017-06-16 03:13] #65 closed

[2017-06-22 16:06] tianxuefeng opened #67 "No such module 'JWT', No such module 'JSON'"
if open Playground, No such module 'JWT'
if import swift files to a new project, No such module 'JSON'

Can tell me how to fix these errors?

Thanks!!!

[2017-06-22 21:11] 0xTim commented on #67
@tianxuefeng Swift Package Manager does not support Playgrounds, you need to use SPM to build up your Xcode project

[2017-06-23 02:36] tianxuefeng commented on #67
Hello,
Thanks for your reply!
However, I'm getting a error "could not build Objective-C module 'CTLS'"
when run Swift Build command.

Thanks.

#include <openssl/conf.h>
         ^
/Users/Xuefeng/Downloads/jwt-master/.build/checkouts/crypto.git-7980259129511365902/Sources/Crypto/Cipher/Cipher+Method.swift:1:8:
error: could not build Objective-C module 'CTLS'
import CTLS
       ^
<module-includes>:1

[2017-06-23 09:59] 0xTim commented on #67
@tianxuefeng once you have set up the Vapor Brew Tap (https://docs.vapor.codes/2.0/getting-started/install-on-macos/#add-homebrew-tap) you can do `brew install CTLS` and it should work

[2017-07-12 19:26] yvettecook opened #68 "Audience Claim is an array - causing rejection from Firebase"
This may or may not be a general issue, but raising it for visibility.

When authenticating with Firebase, you use a JWT generated on Vapor, passed to the mobile app, and then passed to Firebase. Documentation of the process and JWT specification can be found [here](https://firebase.google.com/docs/auth/admin/create-custom-tokens).

### Problem:
JWT Payload:
[code]

When authenticating with Fireba

[2017-07-12 19:44] vzsg commented on #68
[RFC 7519](https://tools.ietf.org/html/rfc7519#section-4.1.3) states the following:

So I think the library should indeed support both scenarios.

[2017-07-18 11:02] valeriomazzeo opened #69 "IssuedAtClaim should be a TimeBasedClaim rather than an EqualityClaim"
`IssuedAtClaim` should be a `TimeBasedClaim` rather than an `EqualityClaim`.

The `verify` method should check that the given value is not in the future.

[2017-07-18 11:17] rurza commented on #47
@gaughyean Any progress? I have the same issue

[2017-07-19 01:40] hhanesand commented on #69
https://github.com/vapor/jwt/issues/42

[2017-07-19 09:13] gaughyean commented on #47
It seems jwt doesn't support .p8 file..
I used python to get the token instead...

At 2017-07-18 19:17:47, "Adam" <notifications@github.com> wrote:

@gaughyean Any progress? I have the same issue

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-07-19 23:26] aaronjedwards opened #70 "Could not create public key from x509Cert"
`[JWT.JWTError: JWT error: Could not create public key]`

I am attempting to validate the signature of a web token I have received from a third party service (Microsoft) using the following.
[code]
Where `cert[0]` is a string representation of the certificate that is retrieved from a jwk(JSON object).

I am unable to create the public key using this method and without much documentation to go on I

[2017-07-19 23:42] tanner0101 commented on #70
I think this was implemented here: https://github.com/vapor/jwt/pull/62

Try that and let me know if it works.

[2017-07-19 23:42] #70 closed

[2017-07-19 23:43] tanner0101 commented on #69
@siemensikkema is the answer to this the same as to #42?

[2017-07-19 23:43] #67 closed

[2017-07-19 23:45] tanner0101 commented on #68
Would probably make sense to include `SingleAudienceClaim` and rename `AudienceClaim` to `MultipleAudienceClaim`, deprecating the name `AudienceClaim`.

[2017-07-19 23:54] tanner0101 commented on #68
Check out https://github.com/vapor/jwt/pull/71

[2017-07-20 00:20] aaronjedwards commented on #70
It worked! Thanks!

[2017-07-20 07:05] siemensikkema commented on #69
@tanner0101 yes it is. Thanks @hhanesand for reminding me that I answered it before :)

[2017-07-20 07:30] valeriomazzeo commented on #70
you are welcome 👍

[2017-07-20 07:34] valeriomazzeo commented on #69
@siemensikkema what would be the case where it makes sense to verify `iat` by equality rather than by time comparison?

[2017-07-20 08:53] siemensikkema commented on #69
@valeriomazzeo Fair question. Maybe we should provide both through an option in the initializer? As mentioned in #42 the spec doesn't say which is the correct way.
Should the time based comparison be the opposite as the NotBeforeClaim?

[2017-07-20 08:58] valeriomazzeo commented on #69
I can see it's not specified, but I was trying to understand if there is any real world use case where any other kind of comparison different than "time based" can make sense / is useful.

I think so. All we may want to verify is if that token has been issued in the future or not.

[2017-07-26 13:33] siemensikkema commented on #69
@valeriomazzeo I actually do not have a good usage for the way it's currently implemented. However, the time-based version would be the exact implementation of `NotBeforeClaim`, not opposite as I first thought. Not before == not in the future.
(sorry for the delay)

[2017-08-09 02:21] owenzhao opened #72 "This framework doesn't consider someone may use it in macOS?"
I just got the error message that I don't have `openssl/conf.h` and others.

[2017-08-09 02:23] owenzhao commented on #72
Ha, it turns out this requires brew installed ...

Apparently I am not the typical developer who has brew installed ...

[2017-08-09 07:20] siemensikkema commented on #72
@owenzhao is your issue solved then? I'm closing the ticket but you can reopen if necessary.

[2017-08-09 07:20] #72 closed

[2017-08-09 07:35] owenzhao commented on #72
You can't think it can be closed. However, since I don't want to install brew, I have to not use your framework. =.=

[2017-08-09 08:05] vzsg commented on #72
As this library (and most of Vapor) heavily builds upon OpenSSL, you really cannot evade installing it yourself.

[2017-08-09 08:30] owenzhao commented on #72
@vssg Maybe you are right. But I say no to brew. I was using it. However, every time macOS upgrades, say from 10.x to 10.x+1, brew will be cleared empty and you have wait many days until it functions again.

 I had never installed brew after being betrayed twice.

[2017-08-09 08:38] BrettRToomey commented on #72
All you need to do is link wherever you have your version of openssl installed to: `/usr/local/opt/openssl` and it will work.

[2017-08-09 08:49] vzsg commented on #72
Alternatively, you can use the following commands to build your project and generate a working .xcodeproj:

[code]

[2017-08-09 15:28] rudresha opened #73 "Support for Swift 2.1"
Hi ,
can you please provide version of lib that support swift 2.1 ? It would be of G8 help !

[2017-08-09 17:05] tanner0101 commented on #72
Editing the `/usr/local/lib/pkgconfig/ctls.pc ` to correctly point to your OpenSSL implementation would prevent the need for adding those extra flags to `swift build` and `swift package` commands.

[2017-08-09 17:06] tanner0101 commented on #73
We are currently working on supporting Swift 4. Sorry.

[2017-08-09 17:06] #73 closed

[2017-08-17 17:22] sathishkraj opened #74 "Carthage support"
Wanted to play with this, please fix issues to support carthage.

[2017-08-17 17:28] vzsg commented on #74
This package is not meant to be used with iOS.

[2017-08-17 17:31] sathishkraj commented on #74
@vzsg thanks, I should have titled this as iOS Support :)

[2017-08-23 19:37] #74 closed

[2017-09-08 19:07] AlekseyKolosovskiy commented on #47
Is there any progress for support p8 + ES256?
I need this for Apple Music API.
Requirements from Apple docs "...encrypt the token using the Elliptic Curve Digital Signature Algorithm (ECDSA) with the P-256 curve and the SHA-256 hash algorithm..."

[2017-09-08 19:50] vzsg commented on #47
I'm not aware of anyone succeeding with calling the Apple Music API with Vapor's JWT library 😞

[2017-09-23 14:03] jhoughjr commented on #34
Still an issue on ARM.  Hypriot 1.5 Swift 3.1.1

[2017-09-25 16:17] rmaes4 commented on #70
The following code gives me the error: "Could not create public key"
```let signer = try RS256(rsaKey: RSAKey(x509Cert: privateKey.bytes))```

[2017-09-25 18:09] vzsg commented on #70
Are you passing a private key to an initializer that expects a PEM-encoded certificate (for its public key)?

[2017-09-25 18:11] rmaes4 commented on #70
I'm not sure it's generated by the Google API. I could give you the key if you like.

[2017-09-25 18:17] vzsg commented on #70
Open the file with a text editor and check what it contains. There will probably be some base64 encoded content with BEGIN-END statements around it. Those statements will tell you what exactly is encoded.

[2017-09-25 18:18] rmaes4 commented on #70
"-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC9Mgw4r6DEkMfg\nxydg7dcmqX5urrgXCeI4DbYlLdpR9Rg60StJyJdEUlbW2dQKHBmoTn6gA3dKyJ1S\nz1kk2dMZ4khkPN9dlvGUmUcUZP/hFSw3voqpCXGpiCAK6xv6VPzTsYJtbvSUHOJC\nV7bH1KQjKQ8ohiZQPC9u4dn+NHF/DT37takgSOurp88J+e3J/lrOXeqIl6B4BXBi\nBf9EgVEVyW6bjytFDuo5QpxQoeigDV+cQmOfAxBGaE3DFyquK96GYQiTfwVJej7R\njt2yxPRLPbyBuz8877fcT42Z2R043m7Q3qXmp6Qk

[2017-09-25 19:23] vzsg commented on #70
Well, that's a private key. (You'll want to revoke and regenerate this later for sure.)

Add [this extension](https://gist.github.com/vzsg/376750864a8ec3429f212c147976d8bb) to your project, and use the `RSAKey(pem:)` initializer to parse this private key.

[2017-09-25 19:43] rmaes4 commented on #70
@vzsg really dumb question but how do I use the extension? It's complaining the BIO stuff is unresolved.

[2017-09-25 20:47] vzsg commented on #70
Oh, sorry. I forgot to write that you need to `import CTLS` and `import JWT` in order to use it.

[2017-09-25 21:35] rmaes4 commented on #70
@vzsg Ok I am attempting to install CTLS. Thank you so much for your help and patience.

[2017-09-25 21:44] rmaes4 commented on #70
@vzsg

[code]

[2017-09-25 21:46] rmaes4 commented on #70
never mind I got it 👍

[2017-09-25 21:55] rmaes4 commented on #70
You wouldn't happen to know anything about firebase would you?

[code]

[2017-09-25 21:57] vzsg commented on #70
Are you trying to authenticate your app to the RTDB REST API? That's something I've never done, but you most definitely shouldn't have `alg` and `typ` in the payload. Those are reserved for the header.

[2017-09-25 21:59] rmaes4 commented on #70
@vzsg yes that's exactly what I am trying to do. Google has a nice library for Java that makes it very easy but it isn't so easy in Swift. I can't find any resources and I'm basically doing this by myself. I didn't even know what a JWT was two days ago lol.

[2017-09-25 22:08] rmaes4 commented on #70
Updated my code
[code]

[2017-09-25 22:25] vzsg commented on #70
You seem to be misunderstanding the authentication flow.

The JWT you generated is not used for directly communicating with Firebase, first you have to request an **access token** from Google. There's a [rather detailed guide](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#authorizingrequests) hidden in their docs that you should follow. Switch to "HTTP/REST" .

[2017-09-25 22:30] rmaes4 commented on #70
I think I’m just going to try and figure out how to use the google obj c library. Are cocoa pods compatible with vapor?

[2017-09-25 22:39] vzsg commented on #70
No, they're not. And if you plan on running the app on Linux, don't even start thinking about Objective-C – the runtime is not available on Linux _at all_.

[2017-09-25 23:26] rmaes4 commented on #70
Well shit :(

[2017-09-26 01:02] rmaes4 commented on #70
@vzsg just going to use the legacy Firebase token for now. this is all too much for me.

[2017-12-05 16:54] dileep017 opened #76 "Is this library can be installed using pods?"

[2017-12-05 17:09] vzsg commented on #76
No. This library depends on Vapor's Crypto module, which in turn depends on OpenSSL – which is not readily available on iOS.

What would you even want to do with this on iOS?
If you are trying to _generate_ tokens, you should really reconsider, as you can make a giant security flaw in your system.
If you just want to _parse_ a token, there is a [better library](https://github.com/auth0/JWTDecode.s

[2017-12-06 03:38] dileep017 commented on #76
Thanks. I want to generate a token.

[2017-12-06 07:48] vzsg commented on #76
Google is our friend: https://github.com/kreactive/JSONWebToken this seems to be a library that depends on CommonCrypto, so should just work on iOS.

[2017-12-06 07:48] #76 closed

[2017-12-06 21:39] tanner0101 commented on #76
FWIW, I think the 3.0 version of this library (relies on AppleSSL and pure Swift) will work on iOS.

[2018-02-08 15:12] calebkleveter opened #81 "Missing RSA Encryption Algorithms"
As of the current state of the beta branch, only the HMAC algorithms have been implemented. There should also be implementations for the RSA algorithms.

[2018-02-08 15:29] Andrewangeta commented on #81
https://qutheory.slack.com/archives/C4QRYJ6DD/p1517667360000122

I also brought this point up.

[2018-02-26 22:56] Andrewangeta commented on #81
Google's implementation
https://github.com/google/auth-library-swift/blob/master/Sources/OAuth2/RSA.swift

[2018-02-27 02:44] tanner0101 commented on #81
Adding RSA to crypto here: https://github.com/vapor/crypto/pull/39

I'll wait until we have this issue resolved to tag JWT RC.1.

[2018-02-28 03:37] tanner0101 commented on #68
Closed #71 due to little interest. This will not be a restriction of the JWT 3.0 API.

[2018-02-28 03:37] #68 closed

[2018-02-28 03:37] #69 closed

[2018-02-28 09:15] valeriomazzeo commented on #69
@tanner0101 what action has been taken on this?

[2018-03-03 09:02] tanner0101 commented on #69
issued at claim uses a date now: https://github.com/vapor/jwt/blob/master/Sources/JWT/JWTClaim.swift#L80

[2018-03-31 11:28] calebkleveter opened #87 "JWK Verification"
Apparently the JWT 3 doesn't support JWK signing yet. This would be a good feature to implement, especially for those of us that used it in Vapor 2 🙂.

[2018-05-08 04:24] clayellis opened #88 "integrate JWTKit with Vapor"
Developers who want to create protected routes using JWTs reasonably look towards [Auth](https://github.com/vapor/auth) and to this package (JWT). Currently, though, the two cannot work with one another. Most of the pieces are in place, but they lack an easy-to-use integration layer.

Auth is the starting point by providing `TokenAuthenticatable` and `TokenAuthenticationMiddleware` which both use

[2018-05-08 04:33] clayellis commented on #88
These are the pieces that @anthonycastelli shared with me:

#### `JWTMiddleware`
[code]

#### `JWTService`
[code]

#### `JWTAuthPayload`
[code]

I think the forthcoming `JWTAuthenticationMiddleware` should leverage `TokenAuthenticationMiddleware` (which in turn leverages `BearerAuthenticationMiddleware`).

[2018-05-08 04:35] clayellis commented on #88
Another popular solution that could prove useful as a reference is @calebkleveter's [JWTMiddleware](https://github.com/skelpo/JWTMiddleware).

[2018-06-04 14:33] luk4z7 opened #90 "Broken link to documentation"
The link on the README file to `read the docs` is not have the version 3.0

https://docs.vapor.codes/3.0/jwt/getting-started/

[2018-06-05 07:36] Umang0609 opened #91 "Library not working with Swift 3"
Hi. I want to implement this Library on Swift 3  .. Is it compatible with Swift 3? Do you have Pod for the same ?

[2018-06-05 10:39] vzsg commented on #91
The 2.x versions of the library (currently 2.3.0 is the latest) are compatible with Swift 3.1.
But there's no pod, as this is a server-side library and not compatible with iOS.

[2018-06-05 10:40] #91 closed

[2018-06-12 16:34] Kireyin opened #92 "Missing ECDSASigner to support ES256 …"
ECDSA algorithms haven't been implemented yet. ES256 algorithm is needed to generate JWT for Apple service such as MapKit JS and MusicKit.

[2018-08-14 19:36] tanner0101 commented on #92
This requires proper ECDSA support in vapor/crypto. I've created an issue here: https://github.com/vapor/crypto/issues/73.

[2018-08-14 19:49] tanner0101 commented on #90
The docs have been added now that the official 3.0.0 tag is released. :)

[2018-08-14 19:49] #90 closed

[2018-08-14 19:50] tanner0101 commented on #88
This is related to my issue here: https://github.com/vapor/auth/issues/53

[2018-08-15 08:41] overovermind opened #94 "'&' used with non-inout argument of type 'JWT<_>'"
There seems to be a problem with the latest version 3.0.0 and Swift 4.1

I get this error when compiling on Mac:

[code]

I think jwt is not an inout, can the `&` be removed?

[2018-08-15 08:52] overovermind commented on #94
Just noticed: this is part of https://github.com/skelpo/JWTVapor.git, will open a PR there :)

[2018-08-15 08:52] #94 closed

[2018-09-24 11:42] dittmarconsulting opened #96 "[Question] - Encode with RS256 using string data of a private key"
Hi all,

Is it possible to sign a RS256 JWT token with a string of the private keys similar to

[code]

Many thanks in advance

[2018-09-24 17:17] vzsg commented on #96
You can initialize an RSAKey from the PEM-encoded private key using [this initializer](https://github.com/vapor/crypto/blob/master/Sources/Crypto/RSA/RSAKey.swift#L10), which you can then pass to [JWTSigner.rs256](https://github.com/vapor/jwt/blob/master/Sources/JWT/JWTSigner.swift#L97).

[2018-09-27 11:30] dittmarconsulting commented on #96
Hi @vzsg,

Thank you for the reply.

I'm not really a iOS developer but I understand the code. Unfortunately my project is written in Objective-C (for React-Native).

Since the project doesn't contain any `.h` header files I created my own bridging header like that:

[code]

Unfortunately I'm stuck here

[code]

Is that possible to use this library in Objective-C at all?

Thanks in advance

[2018-09-27 17:04] vzsg commented on #96
This library is for server-side Swift development only, not compatible with iOS (thus React Native) projects at all. What is the use case?

[2018-09-27 23:44] dittmarconsulting commented on #96
Hi @vzsg,

I work on a blockchain app in RN. I have a wallet (RSA private/public key) and the JWT token implementation in Android, which was very easy. (JAVA & Javascript is my background)

I'm struggling to find a JWT library for iOS that deals with string form of the private key. According to the research I did, iOS insists to extract the private key from a `.p12` file instead. This library is o

[2018-11-23 17:04] valeriomazzeo commented on #87
This has been implemented in https://github.com/vapor/jwt/pull/97

[2018-11-27 13:50] valeriomazzeo commented on #88
This provides a similar functionality to the old `vapor-community/jwt-provider`: https://github.com/asensei/vapor-auth-jwt

[2019-01-25 00:37] dylanreich commented on #92
Any update on this, or anyone know of any packages that provide ES256?

[2019-01-30 15:06] tanner0101 commented on #92
@dylanreich vapor/crypto#73 will probably be fixed in the next major release. OpenSSL, which is a dependency of vapor/crypto and thus vapor/jwt, has methods for doing ECDSA already. They just require some work to use. You can see an example of this here: https://github.com/moritzsternemann/nio-apns/tree/master/Sources/NIOAPNS/Crypto

[2019-08-10 15:34] t089 opened #100 "ES256 implementation is incorrect"
Hello, I found that JWTs signed with JWTKit `ES256` are not correctly validated by jwt.io. The reason is, that the signature is stored in the `DER` format instead of the format specified in the JWS [spec](https://tools.ietf.org/html/rfc7515#appendix-A.3).

For a possible fix, please take a look at the discussion at [kylebrowning/APNSwift#36](https://github.com/kylebrowning/APNSwift/issues/36) and

[2019-08-29 22:46] #100 closed

[2019-08-29 22:46] tanner0101 commented on #100
Thanks for reporting this. I've fixed the issue in https://github.com/vapor/jwt-kit/pull/102 and added a test against a token from JWT.io to ensure the serialization is correct.

[2019-10-07 07:59] t089 opened #103 "Sporadic failure of ES256"
The patch in #102 introduced a subtle bug: In case where the `r` or `s` value of the signature is a "small" number, `BN_bn2bin` will actually produce less than `32` bytes per value. In this case some `0` padding is necessary to make sure that the final signature is `2 x 32 = 64 bytes` long. See eg: [kylebrowning/APNSwift#48](https://github.com/kylebrowning/APNSwift/pull/48/files)

[2019-10-07 08:40] t089 commented on #103
To reproduce run
`swift test --sanitize=address -c release -Xswiftc -enable-testing --disable-index-store`
in a loop until it fails.

[2019-10-07 22:06] tanner0101 commented on #103
@t089 thanks for the helpful report. I've added a test case for this and fixed the issue here: https://github.com/vapor/jwt-kit/pull/104

[2019-10-07 22:08] #103 closed

[2019-11-30 21:29] nysander commented on #88
Is here any progress to make it work?

[2019-11-30 21:30] nysander commented on #87
If this issue is resolved by above merge maybe it should be closed?

[2019-12-05 00:09] clayellis commented on #88
Not that I'm aware of. @tanner0101 should we just close this out?

[2019-12-05 18:26] tanner0101 commented on #88
The idea for Vapor 4 is to create a `vapor/jwt` package that integrates `JWTKit` with `Vapor`. This hasn't been done yet, but should be fairly trivial. I'll leave this issue open to track that.

[2019-12-05 19:29] nysander commented on #88
I like this idea to make it core feature

[2020-03-06 21:11] tanner0101 commented on #88
This package is now a JWTKit + Vapor integration.

[2020-03-06 21:11] #88 closed

[2020-05-17 03:18] Joebayld opened #123 "Error when creating a public signer for certificates"
Looking at old commits (pre v4) there was added support for certificates. Is this in version 4?

I'm trying to use these google certs:
https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com

With this code: (ignore the hard code for testing!)
[code]

I get the following error when creating a public signer.
`Fatal error: Error raised at top level: JWTKit error: sig

[2020-05-25 11:21] jonny7 opened #125 "Allow JWT to be extended by user"
As per the discord discussions, logging this here.

There's lots of good and relevant code within JWT, but it's not possible to reuse some key pieces when working with another provider. For example, I'd think it would be nice if you could examine the `Apple+JWT.swift` or `Google+JWT.swift` and then roll your own verifier that extends `Request.JWT` and `Application.JWT`.

If you try to do this thou

[2020-05-28 21:27] tanner0101 commented on #125
Related to #124

[2020-05-29 12:05] 0xTim commented on #125
@tanner0101 #124 didn't help - it's the `request` property that needs to be made public to allow others to do the same.

@jonny7 I think a PR doing that should be fine

[2020-06-24 23:29] tanner0101 commented on #125
Yup +1 to exposing request.

[2020-07-01 16:59] gwynne commented on #123
This appears to be due to passing an X.509 certificate (a PEM blob starting with `------ BEGIN CERTIFICATE ------` or very similar) to the public key initializer for RS256, which invokes `PEM_read_bio_PUBKEY()` - the `PUBKEY` variant  expects a PKCS#8 public key (PEM blob starting with `------ BEGIN PUBLIC KEY ------`, wrapping a `SubjectPublicKeyInfo` tagged as `rsaEncryption` and in turn contain

[2020-07-09 00:04] ezfe commented on #123
Just wanted to drop in and say that this issue occurred for me due to the lack of newlines, as I was trying to pass it in through an environment variable. When I added them back in, this issue went away.

[2020-07-12 14:20] invencode opened #126 "Documentation request."
I couldn't find documentation on JWT 4.

It would be very helpful if someone provide some documentation or some example codes about Vapor 4 + JWT 4.

[2020-07-13 09:25] 0xTim commented on #126
@invencode Yep that's definitely a problem, the reason is because JWT hasn't been released yet. When it is, the docs will be written and finalised. The best place to work out how to use it is the tests

[2020-07-30 16:08] #87 closed

[2020-07-30 16:18] tanner0101 commented on #92
JWTKit 4.0.0 supports ECDSA 👍

[2020-07-30 16:18] #92 closed

[2020-07-30 16:20] #96 closed

[2020-07-30 16:21] #123 closed

[2020-07-30 16:36] #125 closed

[2020-07-30 21:34] tanner0101 commented on #126
Docs are now available at https://docs.vapor.codes/4.0/jwt/, thanks!

[2020-07-30 21:34] #126 closed

[2020-10-27 14:33] andtie opened #134 "Allow configuration of URIs in JWT helpers"
I am facing the problem that I need to specify another URI to get the JWKS for the Microsoft issuer.
It is currently hardcoded to "https://login.microsoftonline.com/common/discovery/keys", but I need the "v2.0"-version at "https://login.microsoftonline.com/common/discovery/v2.0/keys".

The only way that I found to work around this issue is to copy and rename all of the JWT-Microsoft helpers (in `J

[2020-11-02 10:26] 0xTim commented on #134
I think this could be a useful enhancement. If you're happy to do the PR feel free otherwise we can add it to the backlog

[2020-11-02 14:00] andtie commented on #134
Thanks for your replay. I am happy to do the PR.

[2020-11-03 12:17] andtie commented on #134
Of course, the problem is more complicated than I first thought 😉.
The JWT- and Microsoft-structs are recreated on every access and all data is stored in the respective Storage-class. However, the URI cannot be stored in the storage, because it is already needed in the initializer of the storage itself.

I see several possibilities to overcome this problem:

1. Store the URI in a static variable o

[2020-11-05 09:59] andtie commented on #134
On further reflection, I think the current implementation of setting the `applicationIdentifier` is also not thread-safe.
I turned on Thread Sanitizer and wrote a small test to verify this:
[code]
This produces the expected runtime-exception: `runtime: Threading Issues: Data race in (extension in JWT):Vapor.Application.JWT.Apple.applicationIdentifier.setter : Swift.Optional<Swift.String> at 0x7b10

[2020-11-18 10:51] 0xTim commented on #134
If you set the app identifier to use `Application`s storage, you can wrap it in a lock, similar to how the HTTP Client works https://github.com/vapor/vapor/blob/master/Sources/Vapor/HTTP/Client/Application%2BHTTP%2BClient.swift#L19-L38

[2020-12-15 12:30] andtie commented on #134
I have created a pull request to solve this issue. It uses a separate Lock to reset the EndpointCache when the URI is modified.

[2021-04-25 19:44] abesmon commented on #123
Just message for future developers: jWTKit now providing x509 initialization thru `.certificate(pem: cert)`

[2022-07-13 08:42] ios-apps commented on #123
I used .replacingOccurrences(of: "\\n", with:  "\n") after private key reading from  .env